<!DOCTYPE html>
<html>
  <head>
    <title>Database server</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="chai.js"></script>
    <script src="chai-http.js"></script>
    <script>
      chai.use(chaiHttp);
    </script>
  </head>

  <body>
    <h1>Database server</h1>
    <p>See the following routes for more:</p>
  </body>
</html>
